# Tuple

**Tuple** is the same as List but unlike List, Tuple is **immutable**.

## 1. Create A New Tuple

In [1]:
# 1st way
tuple1 = ("Trinh", "Vy", "Quan")

In [2]:
tuple1

('Trinh', 'Vy', 'Quan')

In [3]:
# 2nd way
tuple2 = "Trinh", "Vy", "Quan"

In [4]:
tuple2

('Trinh', 'Vy', 'Quan')

In [8]:
# 3rd way
tuple3 = tuple([1,2,3])

In [9]:
tuple3

(1, 2, 3)

## 2. Get an element of a Tuple

In [10]:
tuple1[1]

'Vy'

In [11]:
tuple1[0]

'Trinh'

## 3. Tuple is immutable

Tuple doesn't have some methods like List, such as `append()` and `pop()`.

In [12]:
tuple1

('Trinh', 'Vy', 'Quan')

In [13]:
tuple3

(1, 2, 3)

In [14]:
# add 2 tuples will return a new tuple without changing the original ones
tuple1 + tuple3

('Trinh', 'Vy', 'Quan', 1, 2, 3)

### `count()`

In [15]:
tuple4 = (1, 1, 1, 2, 2, 3)

In [16]:
tuple4.count(1)

3

In [17]:
tuple4.count(2)

2

### `index()`

In [18]:
tuple1

('Trinh', 'Vy', 'Quan')

In [19]:
tuple1.index('Vy')

1

## 4. Functions

### `map()`

In [20]:
tuple3

(1, 2, 3)

In [21]:
def square(x):
    return x ** 2

In [22]:
new_tuple = map(square, tuple3)

In [23]:
new_tuple

In [24]:
tuple(new_tuple)

(1, 4, 9)

### `filter()`

In [25]:
tuple4

(1, 1, 1, 2, 2, 3)

In [26]:
def biggerOrEqualTo2(x):
    if (x >= 2):
        return x

In [28]:
new_tuple = filter(biggerOrEqualTo2, tuple4)

In [29]:
tuple(new_tuple)

(2, 2, 3)

### `for in`

In [30]:
tuple1

('Trinh', 'Vy', 'Quan')

In [31]:
letter_num = []
for element in tuple1:
    letter_num.append(len(element))

In [32]:
letter_num

[5, 2, 4]

### `in`

In [33]:
3 in tuple4

True

In [34]:
5 in tuple4

False

### `while` loop

In [1]:
tuple1 = ("Trinh", "Vy", "Tu")

In [2]:
tuple1

('Trinh', 'Vy', 'Tu')

In [3]:
i = 0
while i < len(tuple1):
    print(tuple1[i])
    i += 1

Trinh
Vy
Tu

### `enumerate()`

Return an *Enumerate Object*, which is a List that contains multiple new tuples. Each tuple consists of:
- `index`
- `value`

In [4]:
shoes = ("Nike", "Adidas", "Sketchers")

In [5]:
list(enumerate(shoes))

[(0, 'Nike'), (1, 'Adidas'), (2, 'Sketchers')]

### `reversed()`

In [6]:
shoes

('Nike', 'Adidas', 'Sketchers')

In [8]:
tuple(reversed(shoes))

('Sketchers', 'Adidas', 'Nike')

### `zip()`

In [9]:
shoes

('Nike', 'Adidas', 'Sketchers')

In [10]:
prices = ("high", "medium", "low")

In [11]:
zip(shoes, prices)

In [15]:
list(zip(shoes, prices))

[('Nike', 'high'), ('Adidas', 'medium'), ('Sketchers', 'low')]

### `sorted()`

In [18]:
actions = ("pack", "stand", "throw", "run", "jump", "hug", "shave", "drink")

In [19]:
sorted(actions)

['drink', 'hug', 'jump', 'pack', 'run', 'shave', 'stand', 'throw']

### `sum()`

Return the sum of all elements, throw error if there's an element that is not a number.

In [21]:
sum((1, 4, 5))

10

In [22]:
sum((1, 6, "seven"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'